/* General styles */
body {
  font-family: Arial, sans-serif;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

/* Navbar styles */
.navbar {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}

.navbar h1 {
  margin: 0;
}

/* Divider styles */
.divider {
  border-top: 1px solid #ddd;
  margin-top: 10px;
  margin-bottom: 20px;
}

/* Product list container */
.product-list-container {
  display: flex;
  flex-wrap: wrap;
}

/* Product item styles */
.product-item {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}

.product-item img {
  max-width: 100px;
  max-height: 100px;
}

.product-item a {
  text-decoration: none; /* Remove underline */
  color: inherit; /* Inherit color from parent */
}

/* Product details container */
.product-details-container {
  display: flex;
}

/* Product image container */
.product-image-container {
  flex: 0 0 auto; /* Don't grow, don't shrink */
  margin-right: 20px;
}

.product-image-container img {
  max-width: 400px; /* Increase the maximum width */
  max-height: 400px; /* Increase the maximum height */
}

/* Product data */
.product-data {
  flex: 1; /* Take up remaining space */
}

.product-data h2 {
  margin-top: 0;
}

.product-data p {
  margin: 10px 0;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
}

.popup-content .close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 20px;
}

.popup-content p {
  margin: 0;
}

/* Checkout button styles */
.checkout-button {
  background-color: #000000; /* Blue background color */
  color: #fff; /* White text color */
  border: none;
  border-radius: 20px; /* Curved sides */
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Smooth transition */
}

.checkout-button:hover {
  background-color: #0056b3; /* Darker blue on hover */
}

